@media(max-width: 1000px){
    section>{
        padding: 100px 50px;
    }
}

@media(max-width: 600px){
    section{
        padding: 80px 30px;
    }
}


body {
    margin-top: 0px;
    font-family: 'Source Sans Pro', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e4d9;
    background-image: url('images/pattern.png');
}

header {
    padding: .5rem;
}



.product-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.5;
}

a:hover {
    opacity: 1;
}


#about {
    padding: .5rem;
}

 /* Style the navbar */
 #sticky-navbar {
    overflow: hidden;
    background-color:#a593c2;
    padding: 0;
    margin: 0;
  }
  
  /* Navbar links */
  #sticky-navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky-navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky-navbar + .content {
    padding-top: 60px;
  } 

#productmenu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
   
    
    background-color: #e6e4d9;
  
}

.flex-item {
    
    border:10px solid #e6e4d9;
}


/* From Bethany's Pie Shop Demo
#leftmenu {
    float: right;
    width: 30%;
    margin-bottom: 20px;
}


nav {
    height: 60px;
    width: 1000px;
    margin: 0 auto 20px;
}
*/

.searchbox {
    padding: 5px;
    margin: 10px 10px;
    width: 200px;
}

.main {
    float: right;
    width: 70%;
    margin-bottom: 20px;
}



header,
section,

aside,
nav,
main,
article,
figure {
    display: block;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    float: left;
}

nav>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #a593c2;  
  color: #fff;
  padding: 60px 0;
  text-align: left;
}

footer ul {
    display: flex;
    margin-bottom: 25px;
    font-size: 16px;
}

footer ul li:first-child {
    margin-left: 0;
}

footer ul li:last-child {
    margin-right: 0;
}