/*Default style rules*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e4d9;
}

ul, li {
    list-style: none;
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: white;    
}

a:hover {
  color: #000;
}

a:visited {
  color: #a8d047;
}

/*NavBar Styles*/
.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a593c2;
    color: white; 
   
}

.navbar-logo {
    margin: .5rem;
    width: 2.5rem;
    display: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
    padding: .5rem 1rem;
}

.nav-link:hover {
    background-color: #a593c2;
    color: black;
}



/*hamburger styles, default*/
   .hamburger {
    display: none;
    padding: .5rem;
    }

    .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}


/*Show hamburger menu on smaller screens*/
@media only screen and (max-width: 768px) {
    header {
        display: none;
    }

    .navbar-logo {
        display: block;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 2.75rem;
        flex-direction: column;
        background-color: #1e697e;
        opacity: .85;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: .5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*Product menu with Shopify links*/
    .box-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        grid-gap: .5rem;
        justify-items: center;
        margin: 0;
        padding: 0;
    }
    
    .box-img {
        width: 100%;
        
    }
    
    .fancy-link {
        position: relative;
        width: 100%;
    }
    
    .box-flex {
        display: flex;
        flex-wrap: wrap;
        max-width: 100vw;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: .5em;
        margin: .25em;
        text-align: center;
        font-size: 1.2rem;
        background-color: #f4ecf5;
    }
        
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #245867;
    }
    
    .fancy-link:hover .overlay {
        opacity: .85;
    }
    
    .category-name {
        color: white;
        font-size: 2rem;
        font-weight: 600;
        text-transform: uppercase; 
        text-shadow: 2px 2px 3px #333;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        cursor: pointer;
    }


 

    